* {
  box-sizing: border-box;
}

.dropdown_btn:hover .dropdown_content {
display: block;
}

.dropdown_content {
display: none;
}

:root {
--primary-bg-color: #1C1E33;
--secondary-bg-color: #25273E;
--primary-usage-color: #EE3A57;
--secondary-usage-color: white;
--input-color: #9C9FA6;

--montserrat-font:'Montserrat', sans-serif;
--raleway-font:'Raleway', sans-serif;

--primary-transition-style: 180ms ease;
--secondary-transition-style: 250ms ease;
}

body {
background-color: var(--primary-bg-color);
margin: 0 auto;
display: flex;
}

.login_page {
width: 700px;
height: 500px;
background-color: var(--secondary-bg-color);
margin: 230px 0px 0px 575px;
border-radius: 20px;
display: flex;
overflow: hidden;
}

.login_block {
height: 500px;
width: 400px;
padding: 35px 50px 0 50px;
}

.login_img {
width: 300px;
height: 500px;
object-fit: cover;
object-position: 40%;
}

.login_warning {
  text-align: center;
  font-family: var(--raleway-font);
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-usage-color);
  margin-top: -20px;
}

nav {
position: absolute;
width: 275px;
height: 940px;
background-color: var(--secondary-bg-color);
overflow: hidden;
border-radius: 20px;
margin: 20px 0 0 20px;
}

.nav_logo {
width: 100%;
padding: 15px 40px;
margin-top: 42px;
margin-bottom: -20px;
}

h1 {
font-size: 36px;
font-family: var(--montserrat-font);
color: var(--secondary-usage-color);
word-spacing: 6px;
}

h3 {
font-size: 24px;
font-family: var(--montserrat-font);
color: var(--secondary-usage-color);
margin-bottom: -2px;
}

nav ul {
list-style: none;
display: table;
}

nav a {
color: white;
text-decoration: none;
font-family: var(--raleway-font);
padding-top: 45px;
padding-left: 30px;
font-weight: 600;
font-size: 20px;
display: flex;
}

nav a i {
margin-top:2px
}

.nav_item_text {
padding-left: 20px;
}

nav a:hover {
color: var(--primary-usage-color);
text-decoration:none;
transition: var(--secondary-transition-style);
cursor: pointer;
}

.find_input {
  display: grid; 
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr 0.5fr); 
  grid-template-rows: 1fr;
  margin-top: -25px;
}

.colonists_block {
  width: 1100px;
  margin-left: 350px;
  margin-top: 68px;
}

.main_content {
position: absolute;
margin-left: 350px;
}

.main_content section h1 {
  margin-top: 80px;
}

.main_contents_containers {
display: flex;
}

.mcc_circle_image {
height: 215px;
width: 215px;
border-radius: 50%;
background-color: var(--secondary-bg-color);
overflow: hidden;
object-fit: cover;
object-position: 10% 0%;
}

.mcc_text_bar {
height: 175px;
width: 1155px;
background-color: var(--secondary-bg-color);
border-radius: 20px;
border: 1px solid var(--primary-usage-color);
margin: 20px 0px 0px 50px;
}

.mcc_text_bar p {
font-family: var(--montserrat-font);
font-weight: 600;
padding: 12px 50px 0px 50px;
font-size: 34px;
color: var(--secondary-usage-color);
}


.habitats_section {
display: grid; 
/*grid-column-gap: ;*/
grid-template-columns: repeat(3, 1fr); 
grid-auto-rows: 1fr;
}

.fh_habitat_image {
width: 400px;
height: 225px;
border-radius: 20px;
}

.featured_habitat p {
font-size: 18px;
font-family: var(--raleway-font);
color: var(--secondary-usage-color);
padding-right: 120px;
}

/* Form styles */

input, select {
width: 100%;
height: 40px;
padding: 11px 20px;
margin: 20px 0;
border: 1px solid var(--primary-usage-color);
background-color: transparent;
color: var(--input-color);
border-radius: 20px;
font-family: var(--raleway-font);
box-sizing: border-box;
}

label {
  font-family: var(--raleway-font);
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary-usage-color);
}

legend {
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-usage-color);
  margin-bottom: 15px;
  margin-left: -5px;
}

.find_input input {
  margin-top: 50px;
}

input[type=submit] {
width: 100%;
height: 40px;
background-color: var(--primary-usage-color);
color: var(--secondary-usage-color);
padding: 5px 20px;
margin: 50px 0;
border: 1px solid var(--primary-usage-color);
border-radius: 20px;
cursor: pointer;
font-family: var(--montserrat-font);
font-weight: 600;
font-size: 18px;
}

input[type=submit]:hover {
border-radius: 20px;
background-color: transparent;
transition: 180ms ease;
color: var(--primary-usage-color);
}

form {
margin-top: 60px;
}

/* Profile css */
.profile_base_css {
  margin: 80px 0px 0px 350px;
}

.profile_grid {
  display: grid;
  width: 800px;
}

.profile_button_look {
  width: 300px;
  height: 40px;
  background-color: var(--primary-usage-color);
  color: var(--secondary-usage-color);
  padding: 8px 0px 0px 100px;
  margin: 40px 0;
  border: 1px solid var(--primary-usage-color);
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--montserrat-font);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.profile_button_look:hover {
  background-color: transparent;
  transition: 180ms ease;
  color: var(--primary-usage-color);
  text-decoration: none;
}

.profile_main_info_content {
  position: absolute;
  margin-left: 350px;
  margin-top: -13px;
}

.profile_main_info_content table td{
  display: table-row;
  color: var(--secondary-usage-color);
}

.category_info {
  font-family: var(--montserrat-font);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 7px;
  text-decoration: underline;
}

.content_info {
  font-family: var(--raleway-font);
  font-size: 16px;
  margin-bottom: 5px;
}

.profile_main_info_content table {
  margin-top: 20px;
  margin-left: -5px;
}

.profile_pic {
  width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}

/* Edit profile */

.form_edit {
  margin-left: 350px;
  margin-top: 80px;
}

.error_message {
  color: var(--secondary-usage-color);
  font-family: var(--raleway-font);
  font-weight: 500;
  font-size: 14px;
}

.main_action_icons {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 width: 700px;
 grid-auto-rows: 1fr;
}

.action_block {
  display: grid; 
  grid-template-rows: 100px 40px;
  grid-row-gap:23px;
  justify-items: center;
}

.ab_icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3.5px solid var(--primary-usage-color);
  font-size: 38px;
  color: var(--secondary-usage-color);
}

.ab_text {
  color: var(--secondary-usage-color);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--raleway-font);
  grid-column: 1 / 2;
}

.add_new_user {
  width: 36px;
  height: 32px;
  font-size: 28px;
  margin: 53px 0px 0px 24px;
  text-decoration: none;
  color:var(--secondary-usage-color);
}

.add_new_user:hover {
  color: var(--primary-usage-color);
  transition: var(--secondary-transition-style);
}


/* Table styles */
.fl-table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: var(--secondary-bg-color);
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 2px solid var(--primary-bg-color);
  border-bottom: 2px solid var(--primary-bg-color);
  color: var(--secondary-usage-color);
  font-family: var(--raleway-font);
}

.fl-table thead th {
  color: var(--primary-usage-color);
  background: #32496059;
  font-family: var(--montserrat-font);
}

.action_icons {
  color: var(--secondary-usage-color);
}

.action_icons:hover {
  color: var(--primary-usage-color);
  transition: var(--secondary-transition-style);
}

.map_image {
  width: 1301px;
  height: 791px;
}

.habitat_square {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 221);
  position: absolute;
}

@media all and (max-width: 1280px) {
  
  .login_page {
    margin: 60px 0px 0px 265px;
  }

  nav {
    width: 225px;
    height: 570px;
    margin: 25px 0 0 20px;
  }

  .nav_logo {
    padding: 15px 25px;
  }

  nav a {
    padding-top: 35px;
    padding-left: 10px;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
    word-spacing: 2px;
  }

  .main_content {
    margin-left: 300px;
  }

  .main_content section h1 {
    margin-top: 50px;
  }

  .mcc_circle_image {
    height: 125px;
    width: 125px;
  }
    
  .mcc_text_bar {
    height: 110px;
    width: 745px;
    margin: 7.5px 0px 0px 30px;
  }
    
  .mcc_text_bar p {
    padding: 5px 35px 0px 35px;
    font-size: 22px;
  }

  .habitats_section {
    display: grid; 
    /*grid-column-gap: ;*/
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 1fr;
  }
    
  .fh_habitat_image {
    width: 275px;
    height: 150px;
    border-radius: 15px;
  }
    
  .featured_habitat p {
    font-size: 14px;
    padding-right: 55px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: -6px;
  }

  .colonists_block {
    width: 880px;
    margin-left: 300px;
    margin-top: 68px;
  }
}
